$primaryColor: #0984e3;
$lightBlue: #009cfc;
$lighterBlue: #009cfc;
$navy: #009bfc4d;
$lightBg: #f0f7fa;
$gold: #a79582;
$textColor: #000;
$white: #fff;
$light: #636e72;
$headcolor: #2d3436;
$red: #ed1c24;
