@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import './colors';
@import './home';
@import './menu';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: $textColor;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 50px;
  font-weight: 900;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
.btn-primary {
  color: $white;
  background-color: $lightBlue;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s ease;
  box-shadow: none;
  outline: none !important;
  border: solid 1px $lightBlue;
  cursor: pointer;
  border-radius: 5px;
  &:focus {
    outline: none !important;
  }
  &:hover {
    background-color: $primaryColor;
    box-shadow: 0 6px 10px 0 $light;
    transform: translateY(-2px);
  }
}

.outlined {
  color: $lightBlue;
  background-color: transparent;
  border: solid 1px $lightBlue;
  &:hover {
    color: $white;
  }
}
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  text-align: center;
  padding: 0 0 30px 0;
  font-size: 35px;
  font-weight: 500;
  color: $headcolor;
}
.description-part {
  font-size: 16px;
  line-height: 1.5;
  max-width: 35%;
  margin: 0 auto;
  text-align: center;
}

.git {
  text-align: center;
  padding-bottom: 30px;
  a {
    color: #000;
    i {
      padding-right: 10px;
      font-size: 20px;
    }
  }
}
